In [24]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from datetime import datetime
from joblib import dump, load
import sys
import pickle

In [5]:
stations = pd.read_csv('../data/stations_cleaned.csv.gz')

/Users/danielchoy/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
stations_df = stations[['dock_id', 'dock_name']]

In [89]:
ride_stations = pd.read_csv('../data/riders_cleaned.csv.gz', usecols = ['start station id', 'start station name'])

In [90]:
ride_stations = ride_stations.rename(columns={'start station id':'dock_id'}).reset_index()

In [123]:
rides_stations2 = ride_stations.drop_duplicates(subset = ['dock_id'])

In [11]:
kmeans = pd.read_csv('../data/kmeans_output.csv')

In [85]:
distance = pd.read_csv('../data/distance2.csv')

In [137]:
distance3 = pd.read_csv('../data/distance3.csv')

In [2]:
with open('clf.pkl', 'rb') as file:  
    clf = pickle.load(file)

In [107]:
with open('clf_out.pkl', 'rb') as file:  
    clf_out = pickle.load(file)

In [108]:
with open('clf_in.pkl', 'rb') as file:  
    clf_in = pickle.load(file)

In [55]:
stations_df2 = stations.copy()

In [9]:
stations_df = stations_df.drop_duplicates(subset = ['dock_id'])

In [46]:
stations['dock_id'].nunique()

788

In [198]:
stations_df[stations_df['dock_id'] == 525]

         dock_id         dock_name
1236142      525  W 34 St & 11 Ave

In [175]:
kmeans[kmeans['cluster'] == 2].tail(10)

     Unnamed: 0        start station name  cluster  start station id
333         333          11 Ave & W 41 St        2               478
366         366  Stanton St & Chrystie St        2               265
398         398            E 2 St & 2 Ave        2               403
399         399            E 2 St & 2 Ave        2              3265
400         400   Mercer St & Bleecker St        2              3260
401         401   Mercer St & Bleecker St        2               375
414         414          W 4 St & 7 Ave S        2               380
484         484   Suffolk St & Stanton St        2               410
497         497    Forsyth St & Broome St        2               531
540         540     Washington Pl & 6 Ave        2               369

In [72]:
example = pd.read_csv('../data/example.csv')

In [73]:
example

   dock_id  hour  dayofweek  TMP_mean
0      325     8          1        23
1      459     8          1        23
2      439     8          1        23
3      285     8          1        23
4      477     8          1        23

In [176]:
example_set = pd.read_csv('../data/example_set.csv')

In [177]:
y_pred=clf.predict(example_set)

In [178]:
y_pred

array(['Empty Alert', 'Healthy', 'Healthy', 'Empty Alert', 'Healthy',
       'Healthy', 'Healthy', 'Healthy', 'Healthy', 'Healthy'],
      dtype=object)

In [153]:
pd.set_option('display.max_columns', None)

In [203]:
ride_stations[ride_stations['dock_id'] == 439]

               index  dock_id start station name
274              274      439     E 4 St & 2 Ave
277              277      439     E 4 St & 2 Ave
459              459      439     E 4 St & 2 Ave
464              464      439     E 4 St & 2 Ave
474              474      439     E 4 St & 2 Ave
...              ...      ...                ...
110340988  110340988      439     E 4 St & 2 Ave
110340993  110340993      439     E 4 St & 2 Ave
110341061  110341061      439     E 4 St & 2 Ave
110341069  110341069      439     E 4 St & 2 Ave
110341213  110341213      439     E 4 St & 2 Ave

[305716 rows x 3 columns]

In [135]:
distance.dtypes

Unnamed: 0      int64
72            float64
79            float64
82            float64
83            float64
               ...
4230          float64
4232          float64
4245          float64
4247          float64
4249          float64
Length: 1361, dtype: object

In [156]:
example2 =pd.read_csv('../data/example2.csv')

In [157]:
example2

    dock_id  hour  dayofweek  TMP_mean
0      3695     8          1        23
1      3265     8          1        23
2       403     8          1        23
3       300     8          1        23
4       428     8          1        23
5      3744     8          1        23
6      3263     8          1        23
7       236     8          1        23
8       312     8          1        23
9       229     8          1        23
10      293     8          1        23
11      438     8          1        23
12      265     8          1        23
13      432     8          1        23
14      401     8          1        23
15     3788     8          1        23
16     3905     8          1        23
17      483     8          1        23
18      335     8          1        23

In [190]:
example4 =pd.read_csv('../data/example4.csv')

In [158]:
ypred2 = clf_in.predict(example2)

In [159]:
ypred2

array(['High', 'Medium', 'High', 'High', 'High', 'Medium', 'High', 'High',
       'High', 'High', 'High', 'Medium', 'High', 'High', 'High', 'High',
       'Low', 'High', 'High'], dtype=object)

In [160]:
ypred3 = clf_out.predict(example2)

In [161]:
ypred3

array(['Medium', 'High', 'High', 'High', 'High', 'High', 'High', 'High',
       'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High',
       'Low', 'High', 'High'], dtype=object)

In [162]:
ypred4 = clf.predict(example2)

In [163]:
ypred4

array(['Empty Alert', 'Empty Alert', 'Healthy', 'Healthy', 'Empty Alert',
       'Empty Alert', 'Healthy', 'Healthy', 'Healthy', 'Healthy',
       'Healthy', 'Empty Alert', 'Healthy', 'Empty Alert', 'Healthy',
       'Empty Alert', 'Empty Alert', 'Empty Alert', 'Healthy'],
      dtype=object)

In [191]:
ypred2 = clf_in.predict(example4)

In [192]:
ypred3 = clf_out.predict(example4)

In [193]:
ypred4 = clf.predict(example4)

In [194]:
ypred2

array(['High', 'High', 'High', 'High', 'Low', 'Low', 'High', 'High',
       'High', 'High', 'Low', 'High', 'Medium', 'High', 'High', 'Medium',
       'Low', 'High', 'Medium', 'High', 'Medium', 'High', 'High', 'High',
       'High', 'Low', 'High', 'High', 'High', 'High', 'High', 'High',
       'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High',
       'High', 'High', 'High', 'High', 'Medium', 'High', 'High', 'High',
       'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High',
       'High', 'High'], dtype=object)

In [195]:
ypred3

array(['High', 'High', 'High', 'High', 'High', 'High', 'High', 'High',
       'High', 'High', 'Medium', 'High', 'High', 'High', 'High', 'Medium',
       'High', 'High', 'High', 'High', 'Medium', 'High', 'High', 'High',
       'High', 'Medium', 'High', 'High', 'High', 'High', 'High', 'High',
       'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High',
       'High', 'High', 'High', 'High', 'Medium', 'High', 'High', 'High',
       'High', 'Medium', 'High', 'High', 'High', 'High', 'High', 'High',
       'High', 'High'], dtype=object)

In [196]:
ypred4

array(['Empty Alert', 'Empty Alert', 'Empty Alert', 'Empty Alert',
       'Empty Alert', 'Empty Alert', 'Empty Alert', 'Healthy',
       'Empty Alert', 'Empty Alert', 'Empty Alert', 'Empty Alert',
       'Empty Alert', 'Empty Alert', 'Empty Alert', 'Empty Alert',
       'Empty Alert', 'Empty Alert', 'Empty Alert', 'Empty Alert',
       'Empty Alert', 'Empty Alert', 'Healthy', 'Empty Alert',
       'Empty Alert', 'Empty Alert', 'Empty Alert', 'Empty Alert',
       'Empty Alert', 'Empty Alert', 'Empty Alert', 'Empty Alert',
       'Empty Alert', 'Empty Alert', 'Empty Alert', 'Healthy', 'Healthy',
       'Empty Alert', 'Healthy', 'Empty Alert', 'Empty Alert',
       'Full Alert', 'Empty Alert', 'Empty Alert', 'Empty Alert',
       'Empty Alert', 'Empty Alert', 'Empty Alert', 'Empty Alert',
       'Empty Alert', 'Empty Alert', 'Empty Alert', 'Healthy',
       'Empty Alert', 'Empty Alert', 'Empty Alert', 'Healthy',
       'Empty Alert'], dtype=object)

In [197]:
example4.head(30)

    dock_id  hour  dayofweek  TMP_mean
0       515     8          1        23
1       514     8          1        23
2       448     8          1        23
3       508     8          1        23
4      3240     8          1        23
5      3236     8          1        23
6      3712     8          1        23
7       525     8          1        23
8       479     8          1        23
9       495     8          1        23
10     4219     8          1        23
11      488     8          1        23
12     3635     8          1        23
13      529     8          1        23
14      512     8          1        23
15     3017     8          1        23
16     3450     8          1        23
17     3230     8          1        23
18     3735     8          1        23
19     3441     8          1        23
20     2021     8          1        23
21     3259     8          1        23
22       72     8          1        23
23      489     8          1        23
24      477     8          1        23
25     4044     8          1        23
26      450     8          1        23
27     3699     8          1        23
28      523     8          1        23
29     3258     8          1        23